.description {
  height: 100vh;
  background: url("../public/vector1.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-color: white;
  border: 1px solid black;
}
.description__title {
  padding-top: 50px;
  margin: 0 auto;
  width: 315px;
  height: 100px;
  font-family: "Inter", sans-serif;
  font-size: 44px;
  text-align: center;
  border-bottom: 3px solid;
  text-transform: capitalize;
}
.description__pre-container {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  gap: 50px;
  margin: 50px;
}
.description__container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin: 50px;
}

.description__text {
  width: 800px;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.description__image {
  width: 250px;
  height: 240px;
}

@media (max-width: 996px) {
  .description {
    height: 100%;
    background: url("../public/vector1.png");
    background-size: 100%;
    background-color: white;
  }
  .description__text {
    width: 80%;
  }
  .description__image {
    width: 220px;
    height: 200px;
    margin-top: 20px;
  }
}
@media (max-width: 730px) {
  .description__title {
    padding-top: 30px;
    width: 300px;
    height: 80px;
    border-bottom: 3px solid;
    z-index: 1;
  }
  .description__image {
    position: absolute;
    width: 150px;
    height: 130px;
    right: 10px;
    margin-top: -15px;
  }
  .description__image:nth-child(1) {
    left: 10px;
    margin-top: 0px;
  }
  .description__text {
    z-index: 1;
    font-size: 15px;
    line-height: 20px;
    width: 60%;
  }
  .description__pre-container {
    margin: 20px;
    padding-left: 0px;
  }
  .description__container {
    justify-content: flex-end;
    margin: 20px;
  }
}
