.experts {
  border-bottom: 1px solid black;
}
.experts__title {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 34px;
  text-align: center;
  text-transform: uppercase;
  text-decoration-line: underline;
}
.experts__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 10px;
  justify-items: center;
  margin-bottom: 50px;
  height: 500px;
}

.experts__card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 420px;
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.experts__card:nth-of-type(even) {
  flex-direction: column-reverse;
  border-bottom: none;
  align-self: flex-end;
}
.experts__card:nth-of-type(odd) {
  border-top: none;
}
.experts_btn {
  display: none;
  background-color: white;
  font-weight: 400;
  text-transform: uppercase;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 4px 24px;
  text-align: center;
}
.experts__image {
  position: absolute;
  height: 50%;
  width: 101%;
  left: -1px;
  max-inline-size: none;
}

.btn-info {
  z-index: 1000;
  display: none;
  color: #000000;
  margin: 0 auto;
}
.experts__card-container:hover .btn-info {
  display: block;
}
.experts__card-container {
  position: relative;
}
.experts__card-container:nth-of-type(odd) {
  position: relative;
  padding-top: 220px;
  z-index: 1000;
}
.experts__card-container:nth-child(2) {
  position: relative;
  padding-bottom: 220px;
  z-index: 1000;
}

.form-popup {
  display: none;
  text-align: center;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  left: calc(50% - (300px / 2));
  top: 25%;
  border: 1px solid black;
  border-radius: 50px;
}
.form_even {
  top: -190px;
  border-bottom: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.form_odd {
  top: 220px;
  border-bottom: 1px solid;
  border-top-right-radius: 0px;
  border: 1px solid;
  border-top-left-radius: 0px;
  border-collapse: separate;

  border-top: none;
  width: 300px;
  left: 0px;
}
.form_title {
  text-transform: uppercase;
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.form_input {
  width: 250px;
  padding: 10px;
  margin: 5px auto;
  border-radius: 20px;
  background: #f4eeee;
  border: 1px solid black;
}
.form_input:focus {
  background-color: white;
  outline: none;
}
.form_receiver {
  font-weight: 700;
  background-color: white;
  color: black;
  text-transform: uppercase;
  border: 3px double;
  box-shadow: 0px 14px 40px rgba(0, 0, 0, 0.25);
}
.experts__name {
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
.experts__info {
  font-family: "Inter";
  font-size: 20px;
  line-height: 24px;
  text-align: justify;
  padding: 15px 20px;
}

@media (max-width: 1210px) {
  .experts__card:nth-child(1) {
    display: none;
  }
  .experts__container {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
}
@media (max-width: 960px) {
  .experts__card:nth-of-type(odd) {
    display: none;
  }
  .experts__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0px auto;
    gap: 10px;
  }
  .experts__card {
    margin-bottom: 10px;
  }
  .experts__card-container {
    margin-bottom: 10px;
  }
  .form_even {
    top: 30px;
    border: none;
    border-radius: 0px;
    height: 420px;
  }
}
