.faq__title {
  padding-top: 50px;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  text-decoration-line: underline;
}
.faq__container {
  margin: 80px;
}
.faq__item {
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
}
.faq__accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
  transition: 0.4s;
  font-family: "Inter";
  font-weight: 400;
  font-size: 22px;
}
.panel {
  padding: 10px 18px;
  background-color: #f4eeee;
  display: none;
  overflow: hidden;
  border-radius: 20px;
}
.faq__accordion:after {
  content: url(../public/plus.png);
}

.active:after {
  content: url(../public/minus-sign.png);
  /* Unicode character for "minus" sign (-) */
}
