.footer {
  background: #d9d9d9;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer__title {
  width: 100px;
  font-family: "Inter", sans-serif;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 54px;
  line-height: 47px;
  padding: 50px;
}
.footer__name {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-align: justify;
  margin: 50px;
}
.footer__text {
  font-family: "Inter";
  font-size: 20px;
  line-height: 24px;
  text-align: justify;
  margin-left: 50px;
  width: 350px;
}
.footer__input {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: white;
  border-radius: 0px 14px 14px 0px;
  margin: 50px;
}
.footer__email {
  color: rgba(0, 0, 0, 0.67);
  padding-left: 20px;
  font-family: "Inter";

  font-size: 18px;
}
.footer__btn {
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: "Inter";
  font-size: 20px;
  padding-left: 20px;
  padding-right: 50px;
  border-radius: 0px 14px 14px 0px;
  height: 50px;
}
.footer__second {
  display: flex;
  flex-direction: row;
  padding-top: 70px;
}
.footer__link {
  display: block;
  font-family: "Inter";
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 80px;
}
.footer__link__first-column {
  width: 50%;
}
.footer__third {
  padding-top: 150px;
}
.footer__download {
  display: flex;
  border: 6px solid #000000;
  border-radius: 33px;
  width: 250px;
  padding: 7px 20px;
  margin: 50px auto;
}
.footer__icon {
  width: 45px;
  height: 45px;
  padding-right: 10px;
}
.footer__sprites {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-top: 120px;
}

@media (max-width: 996px) {
  .footer {
    grid-template-columns: 1fr;
  }
  .footer__second {
    display: none;
  }
  .footer__title {
    padding-bottom: 0px;
  }
  .footer__name {
    margin-top: 20px;
  }
  .footer__sprites-image {
    height: 45px;
  }
  .footer__third {
    padding-top: 30px;
  }
  .footer__download-container {
    display: flex;
    gap: 20px;
  }
  .footer__download {
    margin: 0px auto;
  }
  .footer__sprites {
    margin-top: 20px;
  }
}

@media (max-width: 650px) {
  .footer__title {
    padding: 30px;
    font-size: 44px;
  }
  .footer__name {
    margin: 0px 30px;
  }
  .footer__third {
    padding-top: 10px;
  }
  .footer__download-container {
    flex-direction: column;
  }
  .footer__download {
    margin: 5px auto;
  }
  .footer__text {
    width: 300px;
    font-size: 15px;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  .footer__input {
    margin: 10px;
    margin-left: 30px;
  }
  .footer__btn {
    margin-left: -70px;
  }
}
