* {
  font-family: "Hind Madurai", sans-serif;
  font-style: normal;
  font-weight: 500;
}
*::-webkit-scrollbar {
  height: 10px;
  width: 15px;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #f4eeee;
  border-radius: 20px;
  border: 1px solid black;
}
body {
  background-color: #f4eeee;
}
b {
  font-weight: 800;
}
.button-primary {
  display: inline-block;
  background-color: white;
  font-weight: 400;
  text-transform: uppercase;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 4px 24px;
  text-align: center;
}
.book-button {
  margin-top: 52px;
  font-size: 30px;
}
#menu-btn {
  display: none;
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 99999;
  cursor: pointer;
}

@media (max-width: 996px) {
  #menu-btn {
    display: block;
  }
}
