.home-page {
  background: url("../public/landing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.home-page__title {
  position: absolute;
  height: 120px;
  width: 100px;
  top: 70px;
  left: 20px;
  font-family: "Inter", sans-serif;
  text-transform: capitalize;
  font-size: 54px;
  line-height: 47px;
}

.title__item::first-letter {
  font-weight: 800;
}
.home-page__text {
  position: absolute;
  height: 215px;
  width: 397px;
  right: 50px;
  margin-top: 150px;
}
.home-page__text p {
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 45px;
  text-transform: uppercase;
  text-align: justify;
}

.form-popup {
  display: none;
  text-align: center;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: calc(50% - (300px / 2));
  top: 25%;
  border: 1px solid black;
  border-radius: 50px;
}
.form_title {
  text-transform: uppercase;
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.form_input {
  width: 250px;
  padding: 10px;
  margin: 5px auto;
  border-radius: 50px;
  background: #f4eeee;
  border: 1px solid black;
}
.form_input:hover {
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
}
.form_input:focus {
  background-color: white;
  outline: none;
}
.home-page_btn {
  margin-top: 10px;
}
.cancel {
  background-color: black;
  color: white;
}

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
@media (max-width: 1064px) {
  .home-page {
    height: 100vh;
  }
  .home-page__text {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 50px;
    height: auto;
    width: 700px;
    bottom: 15px;
  }
  .home-page__text p {
    font-size: 35px;
    width: 50%;
  }
  .book-button {
    width: 300px;
    font-size: 25px;
  }
}
@media (max-width: 996px) {
  .home-page__title {
    top: 60px;
  }
}
@media (max-width: 756px) {
  .book-button {
    display: none;
  }
}
@media (max-width: 560px) {
  .home-page__text p {
    font-size: 25px;
    width: 40%;
  }
}
