.recipes {
  background: #f4eeee;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
}
.recipes__container {
  background-color: white;
  border: 1px solid black;
  margin: 30px 70px;
  padding: 30px;
}
.recipes__title {
  margin: 0 auto;
  font-weight: 600;
  font-size: 34px;
  text-align: center;
  text-transform: uppercase;
  text-decoration-line: underline;
}
.recipes__text {
  padding: 15px 0;
  margin: 10px auto;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

#recipes__meal-title {
  font-size: 30px;
  text-decoration: underline;
  text-align: center;
}

#recipes__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.recipes__search-box {
  margin: 1.2rem 0;
  display: flex;
  align-items: stretch;
}
.search-control,
.search_btn {
  width: 100%;
}
.search-control {
  padding: 0 1rem;
  font-size: 1.1rem;
  font-size: 20px;
  outline: 0;
  border: 1px solid black;
  background-color: #f4eeee;
  color: black;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.search-control::placeholder {
  color: black;
}
.search_btn {
  width: 65px;
  height: 55px;
  text-align: center;
  font-size: 1.8rem;
  background: #f4eeee;
  color: black;
  border: 1px solid black;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: all 0.4s linear;
}
.search_btn:hover {
  background: var(--tenne-tawny-dark);
}

.recipes__meal-item {
  background: #f4eeee;
  border: 1px solid #000000;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
  padding: 15px;
}
.recipes__meal-img {
  display: block;
}
.recipes__meal-naming {
  padding-left: 20px;
  font-size: 20px;
  text-align: center;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.recipes__ingredient-list {
  list-style: circle;
  margin-left: 30px;
  text-align: left;
}

@media (max-width: 1170px) {
  #recipes__card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .recipes__container {
    margin: 15px 30px;
    overflow: hidden;
    width: auto;
  }
  #recipes__card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  .recipes__meal-item {
    margin: 0;
  }
  .recipes__meal-img {
    width: 50%;
    margin: 0 auto;
  }
  .recipes__meal-name {
    text-align: center;
  }
}
